<img src="https://github.com/BenedictusAryo/documents_assets/raw/master/New%20CourseMap/exercise_assets/make_ai%20x%20Binuscenter.png" alt="make-ai_logo" height="200" width="600" align="left">

<span><br><br><br><br><br></span>

___
**Name:**

**Batch/Company name:**
___
Online property companies offer valuations of houses using machine learning techniques. The aim of this report is to predict the house sales in King County, Washington State, USA using Multiple Linear Regression (MLR). The dataset consisted of historic data of houses sold between May 2014 to May 2015. We will predict the sales of houses in King County with an accuracy of at least 75-80% and understand which factors are responsible for higher property value - $650K and above.”

The dataset consists of house prices from King County an area in the US State of Washington, this data also covers Seattle. The dataset was obtained from Kaggle*. This data was published/released under CC0*: Public Domain. Unfortunately, the user has not indicated the source of the data. Please find the citation and database description in the Glossary and Bibliography. The dataset consisted of 21 variables and 21613 observations.

|Columns | Meaning|
|----|:---|
|**id** | a notation for a house|
|**date** | Date house was sold|
|**price** | Price is prediction target|
|**bedrooms** | Number of Bedrooms/House|
|**bathrooms** | Number of bathrooms/House|
|**sqft_living** | square footage of the home|
|**sqft_lot** | square footage of the lot|
|**floors** | Total floors (levels) in house|
|**waterfront** | House which has a view to a waterfront|
|**view** | Has been viewed|
|**condition** | How good the condition is ( Overall )|
|**grade** | overall grade given to the housing unit, based on King County grading system|
|**sqft_above** | square footage of house apart from basement|
|**sqft_basement** | square footage of the basement|
|**yr_built** | Built Year|
|**yr_renovated** | Year when house was renovated|
|**zipcode** | zip|
|**lat** | Latitude coordinate|
|**long** | Longitude coordinate|
|**sqft_living15** | Living room area in 2015(implies-- some renovations) This might or might not have affected the lotsize area|
|**sqft_lot15** | lotSize area in 2015(implies-- some renovations)|

Data is located in folder data `kc_house_data.csv`

In [1]:
import pandas as pd
kc_house = pd.read_csv('https://github.com/Make-AI-Indonesia/BeginnerClasssStudyCase_KC-House/raw/master/data/kc_house_data.csv')
kc_house.head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062

___
# Task
## 1. Do Exploratory Data Analysis of the dataset
You've given the dataset of `kc_house`, which is consist of 21 variables and 21613 observations. In this steps, you want to know what is happened in the dataset such as what kind of variable used, how is the price distribution, You also want to know initial insight of the dataset. <br>
This consist of:
* Statistics Exploration
* Visualization Insight

## 2. Data Preprocessing
This dataset is having enormous amount of features, but not every features, correlate with the `Price` prediction, if necessary, preprocessing the Data using `feature engineering` and then use`feature selection` to select only few features that you think can help the price prediction.<br>
This step consist of:
* Feature Engineering
* Feature Selection using Correlation analysis
* Train test split

## 3. Regression Modelling
Since you already split the data now you can use `LinearRegression` from the `sklearn.linear_model` library to train Linear regression model using your `Train data` and then predict the `test data` using your model and save as `prediction`.<br>
This step consist of:
* Model Definition
* Model Training
* Predict the Test data

## 4. Evaluation
You already analyze the data, preprocess and then modelling the data using `LinearRegression` even you already predict the `test data` as `prediction`. Now, its time to evaluate the result of your model. <br>
This step consist of
* Evaluate the metrics of `prediction` and `y_test` using **r2**, **MAE** and **MSE**
* Create Visualization of the models using some of the features you've used
* Create Conclusion of All of the steps you've already done